*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    max-width: 1080px;
    border: solid 2px white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    min-height: 500px;
}
.main #carrito{
    width: 90%;
}
main h2{
    margin:0px;
    text-align: center;
}
/* rgba(230, 230, 230, 0.5) */
.main .contGen{
    width: 100%;
    height: 265px;
    background-color: hsla(0, 0%, 0%, 0.5);
    display: flex;
    border: solid 2px gray;
    border-radius: 30px 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.main .contGen:hover{
    box-shadow: inset 0px 1px 20px 14px var(--colorNaranja);
    transition: all 0.8s;
}
.main .contGen .contGrid{
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
}
.main .contGrid .producto{
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.main .contGrid .producto .detalle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid;
}
.main .contGrid .producto .detalle .imgcCont{
    width: 45%;
    min-width: 70px;
    max-width: 161px;
}
.main .contGen .contGrid .producto .detalle .imgcCont img{
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}
.main .contGrid .contenido{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}   
.main .contGrid .contenido h2{
    margin-bottom: 5px;
    font-size: 25px;

}
.main .contGrid .contenido p{
    font-size: 17px;
    text-align: center;
}
.main .contGrid .producto .info{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0;
    align-items: center;
}
/* .main .contGrid .producto .info button{
    cursor: pointer;
    padding: 5px;
    position: absolute;
    top: 220px;
    right: 150px;
} */

.main .contGrid .producto .info .trash{
    position: absolute;
    top: -8px;
    right: -10px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    background-color: var(--colorGris);
}

.main .end{
    padding: 2px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 230px;
}
.main .none{
    display: none;
}
.main .end button{
    color: var(--colorBlanco);
    font-size: 20px;
    padding: 10px;
    background-color: var(--colorGris);
    cursor: pointer;
    border-radius: 20px;
    border: 1px ;
    margin-top: 12px;
}
.main .end button:hover, .main .contGrid .producto .info .trash:hover, .main .contGrid .producto .info .cantidad .button:hover{
    background-color: var(--colorNaranja);
    color: var(--colorBlanco);
}
.main .end div{
    width: 100%;
    background-color: white;
    height: 100px;
    border-radius: 12px;
    border: 2px double black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}
.main .end div p{
    color: black;
    font-size: x-large;
    height: 20px;
}
.main .end div strong{
    color: black;
    font-size: xx-large;
    display: contents;
}
.main .end div strong h2{
    font-size: x-large;
    color: orange;
}
.main .end div span{
    font-size: 22px;
    color: rgb(59, 58, 58);
    height: 15px;
    display: contents;
}
.main .end div span h3{
    font-size: x-large;
    color: orange;
}

.main .contGrid .producto .info .cantidad{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 33px;
    margin-top: 5px;
    border-radius: 10px;
}
.main .contGrid .producto .info .cantidad .button{
    background-color: var(--colorGris);
    width: 35px;
    height: 35px;
    font-size: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-radius: 8px 0 0 8px;
}
.main .contGrid .producto .info .cantidad .button2{
    border-radius: 0 8px 8px 0;
}
.main .contGrid .producto .info .cantidad .button:last-child{
    border-radius: 0 8px 8px 0;
}

.main .contGrid .producto .info .cantidad span{
    font-size: x-large;
    color: black;
    width: 30px;
    text-align: center;
}
.main .contGrid .producto .info .cantidad #stock{
    display: none;
}
.main .vacio{
    position: absolute;
    top: 50%;
}
.main .vacio div h4{
    font-size: xxx-large;
}
.main .vacio div a{
    text-decoration: underline;
    color: orange;
    font-size: xx-large;
}


@media (min-width:760px){
    .main .contGen{
        height: 200px;
    }
    .main .contGrid .producto{
        width: 100%;
        justify-content: space-evenly;
    }
    .main .contGrid .producto .info{
        margin: 0;
    }
    .main .contGrid .producto .detalle{
        border-bottom: none;
        border-right: 2px solid;
        width: 75%;
        justify-content: space-evenly;
    }
.main .contGrid .contenido p{
    font-size: 18px;
}
/* .main .end button{
    color: black;
} */
}