.empresa .mainEmpre{
    width: 98%;
}
.empresa .contenedor1 {
    width: 100%;
    position: relative;
    background-image: url(../img/productos/fondo-empresa.jpg);
    margin: 10px;
    max-width: 1500px;
    height: 500px;
    background-position: center;
    background-size: 160% 500px;
    background-repeat: no-repeat;
    border-radius: 15px;
}
.empresa .contenedor1 div {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.367);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    border-radius: 15px;
}

.texto-encima{
    font-size: xx-large;
    max-width: 350px; 
    border-bottom: 0;
    text-decoration: underline;
    color: rgb(39, 38, 38);
    border-radius: 10px solid;
}
.texto{
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: rgba(106, 102, 97, 0.49); 
    margin: 57px 6px 0;
    text-align: center;
    
} 
.empresa .contenedor3 {
    width: 100%;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    background-color: rgba(204, 214, 222, 0.45);
    border-radius: 15px;
}
/* .empresa .contenedor3 div {
     display: flex;
    flex-direction: row; 
} */
.empresa .contenedor3 img {
    width: 60%;
    height: 160px;
    float: left;
    margin-right: 8px;
    border-radius: 15px 0 0;
}
.empresa .contenedor3 .texto-c {
    color: rgb(255, 255, 255);
    font-size: 24px;
    margin: 10px auto;
    /* width: 98%; */
    padding: 0 5px;
   /*  margin-top: 180px; */
}
.empresa .contenedor2 {
    width: 100%;
    position: relative;
    background-image: url(../img/productos/fondo-empresa-2.jpg);
    background-repeat: no-repeat;
    background-size: 142% 500px;
    margin: 10px;
    max-width: 1500px;
    height: 500px;
    background-position: center;
    border-radius: 15px;
}
.empresa .contenedor2 div {
    position: absolute;
    background-color: rgba(138, 75, 75, 0.311);
    width: 100%;
    height: 100%;
    top: 0px;
    border-radius: 15px;
}

@media (min-width:460px){
    .texto{
        margin: 130px auto 0;
        max-width: 90%;
    }
}
@media (min-width:560px){
    .texto-encima {
        font-size: 40px;
        max-width: 550px;
        margin-top: 50px;
    }
    .empresa .contenedor3 div {
        margin: 0 auto;
        width: 96%;
    }
    .empresa .contenedor3 img {
        width: 50%;
        height: auto;
        margin-right: 8px;
        margin-top: 8px;
    }
}

 @media (min-width:650px){
    .texto-encima {
        font-size: xxx-large;
        max-width: 590px;
        margin-top: 100px;
    }
    .texto{
        font-size: 30px;
    }
   
    .empresa .contenedor1{
        height: 700px;
        background-size: cover;
    }
    .empresa .contenedor2 {
        height: 700px;
        background-size: cover;
    }
    .empresa .contenedor3 {
        height: 260px;
    }
    .empresa .contenedor3 div{
        width: 100%;
    }
    .empresa .contenedor3 .texto-c {
        text-align: center;
        font-size: 18px;
        margin-top: 30px ;
    }
    .empresa .contenedor3 img{
        border-radius: 15px 0 0 15px;
        margin: 0;
        /* max-width: 440px; */
        height: 260px;
        width: 55%;
    }
}
@media (min-width:778px){
    .empresa .mainEmpre{
        width: 90%;
    }
    .empresa .contenedor3{
        height: auto;
    }
    .empresa .contenedor3 img{
        height: auto;
        max-width: none;
    }
}
@media (min-width: 800px) {
    .empresa .contenedor3 .texto-c {
        text-align: center;
        font-size: 22px;
        margin-top: 100px 
    }
}
/*  .empresa .contenedor1 {
        width: 100%;
        position: relative;
        background-image: url("../img/productos/fondo-empresa.jpg");
        margin: 10px;
        max-width: 1500px;
        height: 900px;
        background-position: center;
    
    }
    .empresa .contenedor1 div {
        position: absolute;
        background-color: rgba(128, 128, 128, 0.311);
        width: 100%;
        top: 445px;
    }
    
    .texto-encima{
        font-size: 60px;
        max-width: 350px;
        margin-left: 30px;
        
        
    }
    .texto{
        font-size:var(--tamañoFuente);
        color: white;
        margin-left: 30px;
    } 
    .empresa .contenedor3 {
        width: 100%;
        max-width: 1500px;
        height: 400px;
        display: flex;
        justify-content: center;
        background-color: rgba(204, 214, 222, 0.45);
    }
    .empresa .contenedor3 div {
        display: flex;
        flex-direction: row;
    }
    .empresa .contenedor3 img {
        width: 50%
    }
    .empresa .contenedor3 .texto-c {
        color: white;
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 25px;
        width: 50%;
    }
    .empresa .contenedor2 {
        width: 100%;
        position: relative;
        background-image: url("../img/productos/fondo-empresa-2.jpg");
        margin: 10px;
        max-width: 1500px;
        height: 900px;
        background-position: center;
    
    }
    .empresa .contenedor2 div {
        position: absolute;
        display: flex;
        flex-direction: row-reverse;
        background-color: rgba(138, 75, 75, 0.311);
        width: 100%;
        top: 445px;
    }*/


 