.empresa .contenedor1 {
    width: 100%;
    position: relative;
    background-image: url("../img/productos/fondo-empresa.jpg");
    margin: 10px;
    max-width: 1500px;
    height: 900px;
    background-position: center;

}
.empresa .contenedor1 div {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.311);
    width: 100%;
    top: 445px;
}

.texto-encima{
    font-size: 60px;
    max-width: 350px;
    margin-left: 30px;
    
    
}
.texto{
    font-size:var(--tamañoFuente);
    color: white;
    margin-left: 30px;
} 
.empresa .contenedor3 {
    width: 100%;
    max-width: 1500px;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: rgba(204, 214, 222, 0.45);
}
.empresa .contenedor3 div {
    display: flex;
    flex-direction: row;
}
.empresa .contenedor3 img {
    width: 50%
}
.empresa .contenedor3 .texto-c {
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 25px;
    width: 50%;
}
.empresa .contenedor2 {
    width: 100%;
    position: relative;
    background-image: url("../img/productos/fondo-empresa-2.jpg");
    margin: 10px;
    max-width: 1500px;
    height: 900px;
    background-position: center;

}
.empresa .contenedor2 div {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(138, 75, 75, 0.311);
    width: 100%;
    top: 445px;
}
