.header {
    /* background-color: #d6651fd1;  */
    background-color: rgb(110 43 4);
    box-shadow: inset 0px -10px 35px 8px rgb(255 118 0);
    width: 98%; 
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    max-width: 1550px;
    position: relative;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    max-width: 200px;
}
.header .logo a{
    font-size: 0px;
}

.header img{
    width: 100%;
    box-shadow: 0px 0px 10px 4px hsl(28deg 82% 48%);
    border-radius: 53px;
}
.header .carrito {
    color: var(--colorBlanco);
    border: 1px  /* var(--colorNaranja) */;
    background-color: rgba(255, 255, 255, 0);
}
.header .carrito div {
    position: relative;
}
.header .carrito div .count {
    border: 2px solid orange;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    font-size: large;
    position: absolute;
    top: -14px;
    right: -8px;
    padding: 3px;
}
.header .burger {
    font-size: 30px;
    display: flex;
    justify-content: start;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.header .carrito{
    font-size: 40px;
    cursor: pointer;
}
.header .carrito a{
    font-size: 40px;
}
.header .carrito a:hover{
    color: var(--colorBlanco);
    transition: all 0.6s;
}

.header .flex {
    display: flex;
    padding: 20px 30px 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header .buscar{
    position: relative;
    padding: 5px;
    display: none;
}
.buscar input{
    position:absolute;
    right: -145px;
    top: -20px;
    width: 0px;
    height: 45px;
    padding: 0 20px;
    font-size: 20px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.8s ease;
}

.btn{
    position: absolute;
    top: -25px;
    right: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: #ff6200d1;
    font-size: 20px;
    border-radius: 28px;
    cursor: pointer;
    border: 0;
}
.buscar:hover input{
    width: 350px;
}
.buscar input:focus{
    width: 350px;
}

.header .flex .icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .flex .icons button:last-child{
    font-size: 40px;
    margin-left: 20px;
}
.header nav {
    display: none;
    width: 89%;
    margin: 0 auto;
    position: relative;
}
.header .desaparecer{
    display: flex;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header nav ul {
    position: relative;
    padding-left: 10px;
}
.header nav ul li {
    margin: 5px;
    color: black;
    text-transform: uppercase;
    font-size: var(--tamañoFuente); 
    cursor: pointer;
}
.header nav .user {
    position: absolute;
    right: 0px;
    top: 0px;
    border-left: 2px black solid;
    padding-left: 8px;
}
.header nav .user li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center
}
.header nav .user .login {
    display: block;
}
.header nav li a {
    color: black;
    text-transform: uppercase;
    font-size: var(--tamañoFuente);   
}
.header nav .user li img {
    width: 126px;
    height: 126px;
    border-radius: 50%; 
}
.header nav li a:hover, .header nav li:hover{
    color: var(--colorBlanco);
    transition: all 0.6s;
}
.perfilFunciones {
    display: none;
    position: absolute;
    width: 150px;
    top: 153px;
    padding-top: 10px;
    background-color: white;
    right: 10px;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
}
.perfilFunciones::before{
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    /* border-bottom: 8px solid #ff7600; */
    border-bottom: 8px solid black;
    content: "";
    height: 0;
    left: 70px;
    position: absolute;
    width: 0;
    top: -8px;
}
.perfilFunciones a{
    color: black;
    border-radius: 10px;
}
.perfilFunciones form{
    width: 90%;
    margin: 15px auto;
}
.perfilFunciones button{
    margin: 0;
    background-color: transparent;
    border: 0;
    border-radius: 10px;
    font-size: 24px;
}
.perfilFunciones button:hover{
    color: white;
    background-color: var(--colorNaranja);
    transition: 0.3s;
}
.perfilFunciones a:hover{
    background-color: var(--colorNaranja);
    color: white;
    padding: 0 25px;
    transition: 0.3s;
}
.blockOption{
    display: block;
}

/* ventana carrito */
header .cart-container {
    position: absolute;
    top:96px;
    right: 16px;
    width: 350px;
    background: #ffffff;
    padding: 0 1.5rem;
    z-index: 999;
    display: none;
}
header .cart-container.active {
    right: 25px;
    top: 100px;
    border-radius: 23px;
    display: block;
}
header .cart-container::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    content: "";
    height: 0;
    left: 88%;
    position: absolute;
    width: 0;
    top: -8px;
}
header .cart-container h3.title {
    text-align: center;
    font-size: 14px;
    margin: 15px 0 18px 0;
    padding-bottom: 4px;
    color: var(--main-color);
    font-weight: 700;
    border-bottom: 5px solid var(--main-color);
}

header .cart-container .cart-item {
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100px;
    border-bottom: solid 1px gray;
}
header .cart-container .cart-item .fa-times{
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: var(--black);
}
header .cart-container .cart-item .fa-times:hover {
    color: var(--main-color);
}
header .cart-container .cart-item img {
    width: 45px;
    object-fit: cover;
    padding: 5px;
    box-shadow: none;
}
header .cart-container .cart-item .content {
    width: 200px;
}
header .cart-container .cart-item .content h3 {
    font-size: 14px;
    color: black;
    margin: 0;
}
header .cart-container .cart-item .content .price {
    font-size: 18px;
    color: var(--Alfonzo);
}
header .cart-container .cart-item .añadir-elementos {
    display: flex;
    width: 50%;
    align-items: center;
}
header .cart-container .cart-item .añadir-elementos .restar,
header .cart-container .cart-item .añadir-elementos .agregar {
    background-color: var(--colorGris);
    /* font-size: 700; */
    color: black;
    font-size: 26px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    cursor: pointer;
}
header .cart-container .cart-item .añadir-elementos .restar:hover,
header .cart-container .cart-item .añadir-elementos .agregar:hover{
    color: white;
    background-color: var(--colorNaranja);
    transition: 0.4s;
}
header .cart-container .cart-item .añadir-elementos span {
    margin: 0 10px;
}
header .cart-container .cart-puy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .cart-container .cart-puy span {
    font-size: 18px;
}
header .cart-container .cart-puy a{
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    font-weight: 500;
    background-color: var(--colorGris);
    color: black;
    margin: 15px 0 20px 0;
    border-radius: 4px;
}
header .cart-container .cart-puy a:hover{
    background-color: var(--colorNaranja);
    color: white;
    transition: 0.4s;
}

@media (min-width:530px) {
    .perfilFunciones{  
        top: 32px;
        left: -158px;
    }
    .perfilFunciones::before{  
        transform: rotate(90deg);
        left: 145px;
        top: 45px;
    }
}
@media (min-width:668px) {
    .header{
        height: 160px;
    }
    .header img  {
        justify-content: center;
    }
    .header .burger{
        display: none;
    }
    .header .buscar{
        display: block;
    }

    .header nav {
        display: flex;
        justify-content: space-between;
    }
    .header nav ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
    }
    .header nav ul li {
        margin: 0 5px;
    }
    .header nav ul.user {
        border: 0;  
    }
    .header nav .user {
    position: relative;
    right: 0;
    top: 0;
}
    .header nav .user li {
        /* display: block; */
        display: flex;
        flex-direction: row;
    }
    .perfilFunciones {
        top: 45px;
        left: 79px;
    }
    .perfilFunciones::before {
        transform: rotate(0deg);
        left: 107px;
        top: -8px;
    }
    .header nav .user li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 5px
    }
    .header .t-f{
        display: none;
    }
    }
    
