.avatar{
    height: 200px;
    width: 200px;
    border-radius: 50%;

}
.user main{
    background-color: var(--colorGrisClaro);
    margin: 10px auto;
}
.lista{
    background-color: var(--colorNaranja) ;
    padding: 20px;
    border-radius: 10%;
}
.boton{
    font-size: 30px;
    margin: 3px;
    padding: 2px;
}
.botones{
    display: flex;
    text-align: start;
    margin: 5px;
    margin-bottom: 10px;
}
.datos{
    margin: 0 auto;
}
