
/* Fuente a utilizar */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root{
    /* Colores */
    --colorNaranja:rgb(219, 105, 12);
    --colorNaranjaClaro: #f8dda4;
    --colorNegro: black;
    --colorBlanco:white ;
    --colorGris: #585653;
    --colorGrisClaro: #bfbebe8c;
    --descuentos: rgb(219, 105, 12);
    --colorButtom:rgb(54, 49, 49);
    

    /* Fuentes */
    --fuentePrincipal: 'Bebas Neue', cursive;
    --tamañoFuente: 25px;
    --fuenteTitulares: 30px;
}
