<section class="modal">
    <div class="modal__container">
        <img src="/img/logo/logo-beerbar.png" class="modal__img" alt="">
        <h2 class="modal__title">Contacto</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nombre</label>
          <input type="name" class="form-control" id="name" placeholder="Juan Perez">
          <small id="nombreError"></small>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <small id="emailError"></small>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Numero de telefono</label>
          <input type="number" class="form-control" id="contacto" placeholder="1154254111">
          <small id="contactoError"></small>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
          <textarea class="form-control" id="textarea" rows="3" placeholder="Escriba su consulta"></textarea>
          <small id="textareaError"></small>
        </div>
       <button type="submit" class="btn btn-outline-danger" id="btn_submit">Enviar</button>
      <div class="modal__paragraph">
      <p><i class="fa-solid fa-mobile-screen"></i>Por comentarios sobre nuestras cervezas: 0800-22-CERVEZA (2378392)
          Por comentarios sobre nuestras bebidas sin alcohol: 0800-222-2237</p>
          <p><a href="https://www.google.com/maps/place/Gran+Canaria+&+Avenida+12+de+Octubre,+Quilmes,+Buenos+Aires/data=!4m2!3m1!1s0x95a32e6997e4c865:0xbe15efa80e32561d?ved=2ahUKEwiS6YS99enfAhUGF5AKHcVdDywQ8gEwAHoECAQQAQ" class="contact-a"><i class="fa-solid fa-location-pin-lock"></i>Av. 12 de Octubre y Gran Canaria (B1878AAB) Quilmes - Buenos Aires - Argentina</a></p>
      </div>
      
        <a href="#" class="modal__close">Cerrar</a>
    </div>
</section>