<footer>
    <section>
        <p> <a href="https://twitter.com/"> <i class="fa-brands fa-twitter"></i></a>

            <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp-square"></i></a>
        </p>
    </section>
    <section class="contenedor">
        <article><a href="/products">Nuestros Productos</a> </article>
        <article><a href="">Empresa</a> </article>
        <article><a href="http://patagoniaar20220118.abinbev.acsitefactory.com/sites/g/files/wnfebl3746/files/2022-01/TyC%20-%20Patagonia.pdf" target="_blank"> Terminos y condiciones</a></article>
        <article><a href="http://patagoniaar20220118.abinbev.acsitefactory.com/sites/g/files/wnfebl3746/files/2022-01/Pol%C3%ADtica%20de%20Privacidad%20-%20Patagonia.pdf" target="_blank">Politicas de privacidad</a></article>
        <!-- <article><a href="/register">Registrarse</a> / <a href="/login">Ingresar</a></article> -->
    </section>
    <section class="contenedor_2">
        <article><a href="">ayuda</a></article>
        <article><a href="">Contacto</a></article>
        <!-- <article><a href="">Franquicias</a></article>
        <article><a href="">Happyhours</a></article> -->
    </section>
    <section>
        <article>Beber con moderacion. Prohibida su venta a menores de 18 años. No comparta el contenido con
            menores. 2021 BEER&BAR</article>
        <span class="copyright">Copyright © beer&bar</span>
    </section>

</footer>
<script src="/js/carrito.js"></script>