<header class="header">
    <div class="flex">
        <div class="logo">
            <a href="/"><img src="/img/logo/logo-beerbar.png" alt="logo"></a>
        </div> 
        <form action="/busqueda" method="get">
        <div class="buscar">
            <input type="text" name="search" id="search" placeholder="Birras, comida y más..." required>
            <button type="submit" class="btn">
                <i class="fa-solid fa-magnifying-glass icon"></i>
            </button>
        </div>
        </form>
        
        <div class="icons">
            <button class="carrito">
                <% if (locals.userLogin) { %>
                <div id="cart-btn">
                    <i class="fa-solid fa-cart-shopping"></i>
                    
                </div>
                <% } else { %>
                <a href="/users/login"><i class="fa-solid fa-cart-shopping"></i></a> 
                <% } %>
            </button>
            <button class="burger" id="menu">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>
    <div class="cart-container"></div>
    <nav>
        <ul>
            <li><a href="/products">Productos</a></li>
            <li><a href="/empresa">Empresa</a></li>
            <li><a href="/" class="boton-contacto">Contacto</a></li>
            <% if (locals.userLogin && locals.userLogin.rol == 2) { %>
            <li><a href="/admin/list">Admin</a></li>
            <% } %>
        </ul>
        <ul class="user">
            
            <% if (locals.userLogin) { %>
            <li id="miPerfil">Bienvenido <%= locals.userLogin.nombre %> <img src="/img/usuarios/<%- locals.userLogin.image %> " alt="usuario img"></li>
            <div class="perfilFunciones" id="opcionesPerfil">
                <a href="/users/profile">Ver perfil</a>
                <form action="/users/logout?_method=DELETE" method="post"> 
                    <button type="submit">Cerrar sesión</button> 
                </form>
            </div>
            <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
            <% } %>
            
        </ul>

        
        <!-- <div class="t-f">
            <button><i class="fa-brands fa-twitter"></i></button>
            <button><i class="fa-brands fa-facebook-f"></i></button>
        </div> -->
    </nav>

</header>