<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle</title>
</head>
<body class="detail">
    <header class="header">
        <div class="flex">
            <div class="logo">
                <a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a>
            </div>
            <div class="buscar">
                <input type="text" placeholder="Birras, comida y más..." required>
                <div class="btn">
                    <i class="fa-solid fa-magnifying-glass icon"></i>
                </div>
            </div>
    
            <div class="icons">
                <button class="carrito">
                    <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                </button>
                <button class="burger">
                    <i class="fa-solid fa-bars"></i>
                </button>
            </div>
        </div>
    
        <nav>
            <ul>
                <li><a href="/products">Productos</a></li>
                <li><a href="#">Empresa</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Locales</a></li>
            </ul>
            <ul class="user">
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Registro</a></li>
            </ul>
            <!-- <div class="t-f">
                <button><i class="fa-brands fa-twitter"></i></button>
                <button><i class="fa-brands fa-facebook-f"></i></button>
            </div> -->
        </nav>
    
    </header>
    <main>
        <h1>Detalle del Producto</h1>
        <section>
            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p>De color brillante y aroma a lúpulos nobles y florales, es un estilo con un amistoso amargor.</p>
                    
                    <h4>Precio:</h4>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small><p>
                    
                    <div class="cantidad"><button class="button">+</button><input type="text" placeholder="0"><button class="button">-</button></div>
                    <button>añadir al carrito</button>
                </div>
            </article>
        </section>
        <button><a href="/products">SEGUIR COMPRANDO</a></button>
        <section class="suggestion">
            <div><h3>ACOMPAÑAR CON:</h3></div>
            <article>
                <div><img src="/img/pansito.jpg" alt="pansito"></div>
                <h4>pan</h4>
            </article>
            <article>
                <div><img src="/img/papitas.jpg" alt="papitas"></div>
                <h4>papitas</h4>
            </article>
            <article>
                <div><img src="/img/milanga.jpg" alt="milanga"></div>
                <h4>milanga</h4>
            </article>
            <div>
                <button><a href="">ver mas</a></button>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <p> <a href="https://twitter.com/"> <i class="fa-brands fa-twitter"></i></a>

                <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp-square"></i></a>
            </p>
        </section>
        <section class="contenedor">
            <article><a href="">Nuestros Productos</a> </article>
            <article><a href="">Empresa</a> </article>
            <article><a href=""> Terminos y condiciones</a></article>
            <article><a href="">Politicas de privacidad</a></article>
            <!-- <article><a href="/register">Registrarse</a> / <a href="/login">Ingresar</a></article> -->
        </section>
        <section class="contenedor_2">
            <article><a href="">ayuda</a></article>
            <article><a href="">Contacto</a></article>
            <!-- <article><a href="">Franquicias</a></article>
            <article><a href="">Happyhours</a></article> -->
        </section>
        <section>
            <article>Beber con moderacion. Prohibida su venta a menores de 18 años. No comparta el contenido con
                menores. 2021 BEER&BAR</article>
            <span class="copyright">Copyright © beer&bar</span>
        </section>

    </footer>
</body>
</html>