<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">
    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/e41faadd8e.js" crossorigin="anonymous"></script>
    <!--  Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Detalle</title>
</head>
<body class="detail">

    <%- include('./partials/header') %>

    <main>
        <h1>Detalle del Producto</h1>
        <section>
            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p>De color brillante y aroma a lúpulos nobles y florales, es un estilo con un amistoso amargor.</p>
                    
                    <h4>Precio:</h4>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small><p>
                    
                    <div class="cantidad"><button class="button">+</button><input type="text" placeholder="0"><button class="button">-</button></div>
                    <button>añadir al carrito</button>
                </div>
            </article>
        </section>
        <button><a href="/products">SEGUIR COMPRANDO</a></button>
        <section class="suggestion">
            <div><h3>ACOMPAÑAR CON:</h3></div>
            <article>
                <div><img src="/img/pansito.jpg" alt="pansito"></div>
                <h4>pan</h4>
            </article>
            <article>
                <div><img src="/img/papitas.jpg" alt="papitas"></div>
                <h4>papitas</h4>
            </article>
            <article>
                <div><img src="/img/milanga.jpg" alt="milanga"></div>
                <h4>milanga</h4>
            </article>
            <div>
                <button><a href="">ver mas</a></button>
            </div>
        </section>
    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>