<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/b19d58878c.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="login">
    <header>
        <div class="logo"><a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a></div>
        
        <nav>   
            <ul>
                <li><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><i class="fa-solid fa-bars"></i></li>
            </ul>  
        </nav>
    </header>
    <main>
        <h1>Login</h1>
        <form action="" method="post">
            <div class="container">
                <label for="user">Usuario</label>
                <input type="text" name="user" id="user" placeholder="Ingresar Nombre de Usuario">
                <small>"Obligatorio"</small>
                <small>"Usuario incorrecto"</small>
            </div>
            <div class="container">
                <label for="pass">Contrase単a</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresar Contrase単a">
                <small>"Obligatorio"</small>
                <small>"Contrase単a incorrecta"</small>
            </div>
            <div class="login_button">
                <button class="one"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
                <button><a href="/users/register"><i class="fa-solid fa-user"></i>sign-up</a></button>
            </div>
            <div class="extra">
                <div>
                    <input type="checkbox" name="save" id="save" value="save">
                    <label for="save">recordarme</label>
                </div>
                <a href="*">Olvide mi cintrase単a</a>
            </div>
        </form>
    </main>
</body>
</html>