.detail main{
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
}
.detail main section article{
    padding: 20px;
    margin: 0 auto;
    border: 3px solid var(--colorNaranja);
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.detail main section article img {
    display: flex;
    justify-content: center;
    width: 100%; 
    border-radius: 10px; 
}
.detail main section article .contenedor{
    background-color: rgba(230, 230, 230, 0.6);
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
}
.detail main section article h3{
    color: black;
}
.detail main section article p{
    color: var(--colorGris);
}
.detail main section article p:first-of-type{
    margin: 0 0 15px;
    font-size: 18px;
}
.detail main section article h4{
    font-size: 20px;
    text-decoration: underline;
}
.detail main section article .cantidad{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.detail main section article .cantidad .button{
    background-color: var(--colorNaranja);
    width: 35px;
    font-size: 19px;
    margin: 0;
    border-radius: 8px 0 0 8px;
}
.detail main section article .cantidad .button:last-child{
    border-radius: 0 8px 8px 0;
}
.detail main section article .cantidad input{
    width: 50px;
    font-size: 16px;
    height: 35px;
}
.detail main section article .contenedor button, .detail main button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 6px;
    width: 150px;
    border: 1px solid var(--colorGris);
    border-radius: 10px;
    background-color: rgb(54, 49, 49);
    color: var(--colorBlanco);
    font-size: 19px;
    margin-top: 15px;
}
.detail main button{
    margin-bottom: 20px;
    width: 200px;
}
.detail main button a{
    color: var(--colorBlanco);
}
.detail main section article .contenedor button:hover, .detail main button:hover{
    background-color: var(--colorNaranja);
}
.detail main .suggestion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--colorGrisClaro);
    padding: 10px;
    border-radius: 10px;
}
.detail main .suggestion div{
    width: 100%;
    display: flex; 
    justify-content: center; 
}
.detail main .suggestion article{
    width: 33%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 0;
    border: 0;
}
.detail main .suggestion article h3{
    font-weight: 100;
}
.detail main .suggestion article div img{
    width: 100px;
    height: 70px;
    margin: 5px auto;
}
.detail main .suggestion article h4{
    color: var(--colorBlanco);
    font-size: 18px;
    margin: 5px 0;
}

@media (min-width:769px){
    .detail main section article{
        max-width: 1000px;
        flex-direction: row;
        justify-content: space-between; 

        align-items: center;  
    }
    .detail main section article img{
        width: 40%;
    }
    .detail main section article .contenedor{
        width: 57%;
  
    }
    .detail main .suggestion article div img{
        width: 80%;
        height: 150px;
    }

}
