.listaProductos main {
    width: 90%;
    margin-top: 50px;
}
.listaProductos th, a{
    color: white;
    font-size: 24px;
    width: 200px;
}

.listaProductos a:hover {
    color: orange;
}
.listaProductos td a button {
    border-radius: 50%;
    border: none;
}
.listaProductos td a button .icon {
    border-radius: 50%;
    color: white;
    padding: 10px;
    background-color: var(--colorNaranja);
}

.listaProductos main section {
    width: 90%;
    position: relative;
    max-width: 1250px;
    display: flex;
    justify-content: end;
    /* align-items: end; */
    
}

.listaProductos  .btn-crear  {
    border-radius: 10px;
    font-size: 20px;
    border: 1px;
    padding: 5px;
    background-color: var(--colorBlanco);

}
.listaProductos  .btn-crear:hover {
    background-color: var(--colorNaranja);
}

