@import url('./normalize.css');
@import url('./general.css');
@import url('./variables.css');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./home.css');
@import url('./carrito.css');
@import url('./detail.css');
@import url('./register.css');
@import url('./login.css');
@import url('./products.css');
@import url('./editar.css');