<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Beer Bar'}) %>

<body class="home">

    <%- include('./partials/header') %>
    <main>
        <h1>PROMOCIONES</h1>
        <section class="productos">
            
            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/products/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>

                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>
        </section>

        <h1>PRODUCTOS DESTACADOS</h1>
        <section class="productos">

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>

                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>

            <article>
                <img src="/img/productos/birra1.jpg" alt="">
                <div class="contenedor">
                    <h3>Session IPA</h3>
                    <p class="old">$1440</p>
                    <p class="precio">$1200 <small class="descuento">20%</small>
                    <p>
                </div>
                <button><a href="/detail">Comprar</a></button>
            </article>
        </section>

    </main>
    <%- include('./partials/footer') %>
</body>

</html>