<header class="header">
    <div class="flex">
        <div class="logo">
            <a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a>
        </div> 
        <div class="buscar">
            <input type="text" placeholder="Birras, comida y más..." required>
            <div class="btn">
                <i class="fa-solid fa-magnifying-glass icon"></i>
            </div>
        </div>

        <div class="icons">
            <button class="carrito">
                <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
            </button>
            <button class="burger">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="/products">Productos</a></li>
            <li><a href="#">Empresa</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="/admin/list">Admin</a></li>
        </ul>
        <ul class="user">
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Registro</a></li>
        </ul>
        <!-- <div class="t-f">
            <button><i class="fa-brands fa-twitter"></i></button>
            <button><i class="fa-brands fa-facebook-f"></i></button>
        </div> -->
    </nav>

</header>