<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEER BAR SHOP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="cart">
    
    <%- include('./partials/header') %>

    <main class="main">
        <h2>Carrito (8)</h2>
        <section class="contGen">
            <div class="contGrid">
                <div class="producto">
                    <div class="imgcCont">
                        <img src="/img/productos/img-1662398735848.png" alt="citra session ipa">
                    </div>
                    <div class="contenido">
                        <Strong>CITRA Session IPA</Strong>
                        <p>-cerveza lupulada de bajo amargor. 4%alc-</p>
                    </div>
                    <div class="info">
                        <p class="precio">$550</p>
                        <button type="button" class="btnAñadir">- 1 +</i></button>
                            <button class="trash"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="contGen">
            <div class="contGrid">
                <div class="producto">
                    <div class="imgcCont">
                        <img src="/img/productos/img-1662398735848.png" alt="citra session ipa">
                    </div>
                    <div class="contenido">
                        <Strong>CITRA Session IPA</Strong>
                        <p>-cerveza lupulada de bajo amargor. 4%alc-</p>
                    </div>
                    <div class="info">
                        <p class="precio">$550</p>
                        <button type="button" class="btnAñadir">- 1 +</i></button>
                            <button class="trash"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="contGen">
            <div class="contGrid">
                <div class="producto">
                    <div class="imgcCont">
                        <img src="/img/productos/img-1662398735848.png" alt="citra session ipa">
                    </div>
                    <div class="contenido">
                        <Strong>CITRA Session IPA</Strong>
                        <p>-cerveza lupulada de bajo amargor. 4%alc-</p>
                    </div>
                    <div class="info">
                        <p class="precio">$550</p>
                        <button type="button" class="btnAñadir">- 2 +</i></button>
                            <button class="trash"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="contGen">
            <div class="contGrid">
                <div class="producto">
                    <div class="imgcCont">
                        <img src="/img/productos/img-1662398735848.png" alt="citra session ipa">
                    </div>
                    <div class="contenido">
                        <Strong>CITRA Session IPA</Strong>
                        <p>-cerveza lupulada de bajo amargor. 4%alc-</p>
                    </div>
                    <div class="info">
                        <p class="precio">$550</p>
                        <button type="button" class="btnAñadir">- 3 +</i></button>
                            <button class="trash"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <section class="contGen">
            <div class="contGrid">
                <div class="producto">
                    <div class="imgcCont">
                        <img src="/img/productos/img-1662398735848.png" alt="citra session ipa">
                    </div>
                    <div class="contenido">
                        <Strong>CITRA Session IPA</Strong>
                        <p>-cerveza lupulada de bajo amargor. 4%alc-</p>
                    </div>
                    <div class="info">
                        <p class="precio">$550</p>
                        <button type="button" class="btnAñadir">- 1 +</i></button>
                            <button class="trash"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </section>
        <div class="end">
            <button type="button">Finalizar compra</button>
            <input type="text" placeholder="$4400">
        </div>
    </main>
   
    <%- include('./partials/footer') %>
    
</body>

</html>