<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEER BAR SHOP</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="cart">
    
    <%- include('./partials/header') %>

    <main class="main">
        <h2 id="titulo"></h2>
    <section id="carrito">

    </section>       
        <div class="end">
            
            <div>
                <span id="subTotal"></span>
                <p>-----------------------------</p>
                <strong id="total"></strong>
            </div>
            <button type="button">Finalizar compra</button>

        </div>
    </main>
   
    <%- include('./partials/footer') %>
    <script src="/js/menu.js"></script>
    
</body>

</html>