<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: 'BEER BAR SHOP'}) %>

<body class="cart">
    
    <%- include('./partials/header') %>

    <main class="main">
        <%- include('./partials/contacto') %>
        <h2 id="titulo"></h2>
    <section id="carrito">

    </section>       
        <div class="end">
            
            <div>
                <span id="subTotal"></span>
                <p>-----------------------------</p>
                <strong id="total"></strong>
            </div>
            <button type="button">Finalizar compra</button>

        </div>
    </main>
   
    <%- include('./partials/footer') %>
    
</body>

</html>