<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Contacto'}) %>

<body class="contacto">

    <%- include('./partials/header') %>
    
        <ul>
            
        </ul>
        <section class="modal">
            <div class="modal__container">
                <img src="/img/logo/logo-beerbar.png" class="modal__img" alt="">
                <h2 class="modal__title">Contacto</h2>
                <p class="modal__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ratione culpa neque rerum accusamus repellendus hic, molestiae consequatur autem doloremque maiores quae vel numquam rem consectetur quasi minima nam at!</p>
                <a href="#" class="modal__close">Cerrar</a>
            </div>
        </section>

<%- include('./partials/footer') %>
<script src="/js/contacto.js"></script>
</body>
</html>