<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', {title: 'Empresa'}) %>

<body class="empresa">

    <%- include('./partials/header') %>
    
    <main class="mainEmpre">
        <%- include('./partials/contacto') %>
        <div class="contenedor1">
        <div>
        <h1 class="texto-encima">Nuestra historia, ¿Quienes somos?</h1>
        <p class="texto">Somos una gran familia plural de apasionados cerveceros y de comida, motivados por hacer disfrutar a las personas y cuidar de nuestro planeta, convencidos de que sumando la fuerza global y la diversidad local alcanzaremos un mundo mejor</p>
        </div>
    </div>

    <section class="contenedor3">
        <div>
            <img src="/img/productos/comida-empresa.jpg" class="contain" alt="">
            <p class="texto-c"> Trabajamos con productos locales fusionados con técnicas y elaboraciones internacionales. Nos encontramos constantemente buscando nuevos productos y maneras de combinarlos para mantener una propuesta dinámica. Hemos generado una expectativa importante en nuestros clientes, trabajamos todos los días para brindar siempre una experiencia distinta</p>
        </div>
</section>


    <div class="contenedor2">
        <div>
        <h1 class="texto-encima">Bienvenido a la casa Beerbar®!</h1>
        <p class="texto">Reserva una visita para descubrir cómo una pequeña cervecería de Buenos Aires se convirtió en la cerveza favorita del país con sus comidas para acompañar. Desde nuestro legado y proceso de elaboración de cerveza hasta nuestras elaboradas y sabrosas comidas y lo que se necesita para servir una estrella. Terminando con estilo, con una cerveza ... o 2!</p>
        </div>
    </div>

    
</main>


<%- include('./partials/footer') %>
</body>
</html>