<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/b19d58878c.js" crossorigin="anonymous"></script>
    <!-- styles -->
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="register">
    <header>
        <div class="logo"><a href="/"><img src="../img/logo/logo-beerbar.png" alt="logo"></a></div>

        <nav>
            <!-- <ul>
                <li><a href="/login">Login</a></li>
            </ul>    -->
            <ul>
                <li><a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><i class="fa-solid fa-bars"></i></li>
            </ul>   
        </nav>
    </header>
    <main>
        <h1>Sign-up</h1>
        <form action="" method="post">

            <div class="container">
                
                <label for="name">Nombre y apellido</label>
                <input type="text" name="name" id="name" placeholder="Ingresar nombre completo" required>
                <small>"Obligatorio"</small>
            </div>
            <div class="container">
                <label for="name">Usuario</label>
                <input type="text" name="users" id="users" placeholder="Ingresar Nombre de Usuario" required>
                <small>"Obligatorio"</small>
            </div>
            <div class="container">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Ingresar e-mail" required>
                <small>"Obligatorio"</small>
            </div>
            <div class="container">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Ingresar Contraseña" required>
                <small>"Obligatorio"</small>
            </div>
            <div class="container">
                <input type="password" name="pass2" placeholder="Repetir Contraseña" required>
                <small>"Obligatorio"</small>
                <small>"Incorrecto</small>
            </div>
            <div class="container">
                <label for="contact">Nro de Contacto <p>("No es obligatorio")</p></label>
                <input type="number" name="contact" id="contact" placeholder="Ingresar Nro">
                
            </div>
            <div class="registrarse">
                <button type="submit"><i class="fa-solid fa-user"></i> sign-up</button>
            </div>
            <div class="G">
                <h4>Registrarse con:</h4>
                <button type="submit"><i class="fa-brands fa-google"></i></button>
            </div>
        </form>
    </main>
</body>
</html>